.container{
    height: 100vh;
    width: 100%;
}

.slides{
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}

p > span{
    color: blueviolet;
}

.about-me img{
    filter: drop-shadow(1px 1px 10px #000000);
}

.slide1 i{
    font-size: larger;
    font-weight: 1000px;
    cursor: pointer;
}

.slides hr{
    color: black;
    font-weight: 1000px;
}

.btn-div{
    margin: 10px;
}

#section1 a {
    padding-top: 70px;
  }
  #section1 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }